@import '../../../stylesheets/partials/_layouts.scss';
@import '../../../stylesheets/partials/_mixins.scss';
@import '../../../stylesheets/partials/_theme.scss';

:host {
    display: block;
}

paper-fab-speed-dial {
    position: absolute;
    top: 12px;
    right: 12px;
}

paper-doalog.search-dialog-pos {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 100%;
    height: 100px;
    overflow: auto;
}
