@import '../../../stylesheets/partials/_layouts.scss';
@import '../../../stylesheets/partials/_mixins.scss';
@import '../../../stylesheets/partials/_theme.scss';

:host {
    display: block;
}

paper-fab-speed-dial {
    position: absolute;
    top: 12px;
    right: 12px;
}

paper-dialog.search-dialog-pos {
    position: fixed;
    top: 16px;
    left: 16px;
    right: 16px;
    height: 100px;
    overflow: auto;
}

paper-button.colorful {
    color: #4285f4;
    width: 95%;
}
