@import '../../stylesheets/partials/_layouts.scss';
@import '../../stylesheets/partials/_mixins.scss';
@import '../../stylesheets/partials/_theme.scss';

:host {
    display: block;
}

paper-dialog#search-dialog {
    position: fixed;
    top: 16px;
    left: 16px;
    right: 16px;
    overflow: auto;
}

paper-button.btn-route {
    color: $theme-accent;
    width: 95%;
}
